[build]
builder = "NIXPACKS"
nixpacksConfigPath = "nixpacks.toml"

[deploy]
startCommand = "cd django_front && python manage.py migrate --noinput && gunicorn django_front.wsgi --bind 0.0.0.0:$PORT"
restartPolicyType = "on-failure"
